/* wrapper */
.App {
  text-align: center;
  display: grid;
  /* height: 300vh; */
  width: 100%; 
 
}

/* From here grid template settings****************** Grid Template*/
.App{
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
.App-middle{
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
.App-navbar{
  grid-column: 1 / 4;
  grid-row: 1;
}
.App-right{
  grid-column: 3;
  grid-row: 2 / 4;
}
.App-footer{
  grid-column: 1 / 4;
  grid-row: 4 / 10;
}
/* till here grid template settings****************** End*/

/* From  here navigation bar ************************ Nav bar*/

/* Responsive navigation bar */
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

ul {
  
  list-style-type: none; /* removes the bullet points from the list */
  margin: 0;
  padding: 0;
  overflow: hidden; /*Note: overflow:hidden is added to the ul element 
  to prevent li elements from going outside of the list.*/
  background-color: #77c9d4;
}

li {
  
  float: left;/* use float to get block elements to slide next to each other */
}

li a, .dropbtn{
  display: block; /*Displaying the links as block elements makes the whole 
  link area clickable (not just the text), and it allows us to specify the 
  width (and padding, margin, height, etc. if you want)*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover but not for the current page one*/
li a:hover:not(.active) {
  background-color: hsla(0,0%,100%,.65);
}

/* drop button */
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #988780;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}



.dropdown:hover .dropdown-content {
  display: block;
}

/* search box */
::placeholder {
  background-color: #77c9d4;
  }

  /* input::placeholder {
    color: white;
  } */
  
  /* input{
    color: #61dafb;
    font-size: 0.5em;
    border-style: hidden;
  } */

  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  /* nav bar */
.App-navbar{
background-color: #77c9d4;
font-weight: 400;
font-size: 1.6rem;
color: hsla(0,0%,100%,.65);
box-sizing: border-box;
line-height: 1.5em;
height: initial;
display: flex;
align-items: center;
width: 100%;
align-self: stretch;
justify-content: space-between;
}

/* all buttons inside nav bar */
.App-btn{
height: 10vmin;
width: 17vw;
color: #988780;
font-size: calc(10px + 1vmin);
border-radius: 1vh;
text-align: center;
background: 	#77c9d4 ;    
box-shadow: 0 4px 5px #ffffff;  

}

button:active{
box-shadow: 4 4px  #999;
transform: translateY(2px);
}



/* links inside the footer */
.App-link {
color: #61dafb;
}
/* Till here, navigation bar *********************************End*/
  
.App-middle{
  background-color: #77c9d4;
  background-image: url("img/back.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

/* middle section all content */
.App-middle{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* float: left; */
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #52688f;
}

/* column right with the picture spining */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  border-radius: 20vmin;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-right {
/* background-color: #e7ded9; */
min-height: 30vmin;
display: flex;
flex-direction: column;
align-items: center;
/* float: right; */
justify-content: center;
font-size: calc(10px + 1vmin);
margin-right: 4vh;
}

